<header class="site-header">
    <div class="header-container">
        <div class="site-title">
            <h1><a href="/">NYC Slice of Life 🍕</a></h1>
        </div>
        <!-- Menu Navigation header -->
        <nav class="main-nav">
            <ul>
                <li><a href="/events.html">Events</a></li>
                <li><a href="/calendar.html">Calendar</a></li>
                <li><a href="/about.html">About Us</a></li>
            </ul>
        </nav>
        <div class="header-actions">
            <div class="social-icons">
                <a href="https://www.instagram.com/nycsliceoflife/" target="_blank">
                    <img src="resources/images/icons/instagram.svg" alt="Instagram" class="icon" />
                </a>
                <a href="https://www.tiktok.com/@nycsliceoflife" target="_blank">
                    <img src="resources/images/icons/tiktok.svg" alt="TikTok" class="icon" />
                </a>
            </div>
            <a href="/contact_us.html" class="btn contact-btn">Contact Us</a>
        </div>
        <!-- Menu Toggle Button -->
        <button class="menu-toggle" aria-label="Toggle Menu">=</button>
        <!-- Collapsible Menu for screens smaller than 480px -->
        <nav class="collapsible-menu">
            <ul>
                <li><a href="/events.html">Events</a></li>
                <li><a href="/calendar.html">Calendar</a></li>
                <li><a href="/about.html">About Us</a></li>
                <li><a href="https://www.instagram.com/nycsliceoflife/" target="_blank">Instagram</a></li>
                <li><a href="https://www.tiktok.com/@nycsliceoflife" target="_blank">TikTok</a></li>
                <li><a href="/contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>